body {
    margin: 0;
    font-family: "MesloLGS NF", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "MesloLGS NF";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/MesloLGS-NF-Regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}
